@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
body {
    font-family: 'Rubik', sans-serif;
}

/* INICIO HEADER */

header {
    text-align: center; 
    background-color: #8EBBA7; 
}

.container-fluid {
    background-color: #8EBBA7;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-nav .nav-link {
    color: #C88E99; 
    font-size: 1.5rem;
}
.navbar img {
    max-width: 100px;
    height: auto;
}
/* FIN HEADER */

/* COLOR DE FONDO DEL BODY */
body {
    background-color: #bdd9b0;
    text-align: center;
}

.carrousel{
    text-align: center;
}

.titulo-index{
    color: #3b3c3d;
    text-align: center;
    font-size: 50px; 
    padding: 10px;
    margin-top: 20px;
    text-shadow: 2px 2px 4px #333;
    background: linear-gradient(to right, #ffd4d4, #fffff3);
  }

/* tarjetas index */
.card {
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin: 10px;
    display: inline-block;
    overflow: hidden;
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.05); /* Escala la tarjeta al pasar el mouse por encima */
}

.card img {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-content {
    padding: 20px;
    text-align: center;
}

/* footer */
footer{
    background-color: #fffde5;
}

.redes-footer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #C88E99;
    font-size: 110%;
}


/* FORMULARIO en sección CONTACTO */
.formulario {
    max-width: 500px;
    margin: 0 auto;
    background-color: #C88E99;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.form-grupo {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
}

textarea {
    width: 80%;
    padding: 10px ;
    border: 1px solid #ccc;
    border-radius: 5px;
}


